# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Distribution
*.egg-info/
dist/
build/
*.deb
google-chrome-stable_current_amd64.deb
soil-based-fertilizer-recommendation-eda-10-ml.ipynb
